.square {
	border: solid white 1px;
	display: inline-block;
	padding: 0;
	opacity: 0.1;
	background-color: black;
}

.container {
	width: 960px;
	height: 960px;
	margin: auto;
}

.column {
	margin: 0;
}

.button-container {
	width: 960px;
	margin: auto;

}
#clear {
	float: left;
}

#gray_scale {
	float:right;
}
h1 {
	margin: auto;
	text-align: center;
}
